/*@primaryblue: #64AFCB;
@lightgrey: #efefef;
@darkgrey: #d8d8d8;*/

/*App.js*/
container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

welcome {
  font-size: 20;
  text-align: center;
  margin: 10;
}

instructions {
  text-align: center;
  color: #333333;
  margin-bottom: 5;
}
/*App.js*/

/*HomeMap.js*/
homeMap {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #64AFCB;
  height: 500;
  width: 300;
}
/*HomeMap.js*/

/*CreateLocation.js*/
buttonStyle {
  text-align: center;
  color: #64AFCB;
  font-weight: bold;
  background-color: #efefef;
  line-height: 50;
  height: 50;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #64AFCB;
}

createForm {
  background-color: #d8d8d8;
  height: 150;
}

createFormHeader {
  text-align: center;
  font-size: 20;
}

createFormClose {
  text-align: center;
}
/*CreateLocation.js*/

/*LoginPage.js*/
loginText {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #64AFCB;
}
/*LoginPage.js*/

/*ProfileView.js*/
profileImageButton {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  right: 0;
}
/*ProfileView.js*/
